@import "css/responsive.css";


*{
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
}
/* universal padding  */
.uni-padding{
    padding: 0px 17px;
}


#landing{
    display: inline-block;
    max-height: 100vh;
    background-image: url('images/landing.jpg');
    background-size:100%; 
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    /* overflow: hidden; */
}


/* start top nav bar  */
.topnav{
    background-color: #363030;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 4px 19px;
}


.topnav a{
    /* float: center;    // use for responsive */
    float: right;
    display: block;
    text-decoration: none;
    color: aliceblue;
    padding: 14px 16px;
    font-size: 17px;
    text-align: center;
}

.topnav a:hover{
    color: #333;
    background-color: aliceblue;
}

.topnav .active{
    color: aliceblue;
    background-color: #f86da4 !important;
}

/* logo style */
.topnav #logo_img{
    float: left;
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 50%;
    margin-left: 50px;
    
}
.topnav #logo_text{
    color: white;
    padding: 10px;
    font-family: 'Delicious Handrawn', cursive;
}


.topnav .icon{
    display: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
/* .sticky{
    padding-top: 60px;
} */

/* end top nav bar  */


.typewriter{
    text-align: center;
    color: #fefe7a;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    position: relative;
    margin-top: 300px;
    font-size: 48px;
    font-weight: bolder;/* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }



/* follower counter  */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");



#sub-count{
  background-color: #8e44ad;
  color: #fff;
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
  overflow: hidden;
  margin-top: -20px;
}


.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}

/* slide show  */
/* start image slide style */
.mySlides {
  display: none
}
img {
  vertical-align: middle;
  max-height: 100vh;
}
.slideshow-container {
  max-width: 100%;
  max-height: 100vh;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #f86da4;
}
/* Caption text */
.text {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  position: relative;
  top: -60px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #f86da4;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}




/* Why Us Section*/
#whyUs{
  background-color: #d5bec7;
}
#whyText{
  color: #ee5253;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 18px;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 8px;
}
#whyContent{
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  padding: 5px 12px;
}
.why33 h1{
  color: #ee5253;
}



/*Blog*/
.why33 a{
  text-decoration: none;
  color: #ee5253;
}
.why33 img{
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
}

/*Subscribe Newsletter*/
#sub{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ee5253;
  color: white;
  margin-top: 20px;
}
#subText{
  padding: 10px;
}
#subInput{
  margin: auto;
}
#subInput input{
  font-size: 23px;
  color: #ee5253;
  border-radius: 5px;
}







  /* start footer design  */
footer{
    background: #363030;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
  }
  
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
  }
  
  
  /* social icons  */
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
  }
  .socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
  }
  .socials a:hover i{
    color: #f86da4;
  }
  
  /* footer menu  */
  .footer-menu{
    float: right;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  
  .footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
    padding: 4px 39px;    
    display: block;
    margin: 0 10px;
    border: 1px solid #cfd2d6;
    border-radius: 50%
  }
  
  .footer-menu ul li a:hover{
    color: #f86da4;
  }
  
  
  /* footer copyright  */
  .footer-content .footer-bottom{
    background: rgb(20, 19, 19);
    width: 100vw;
    margin-top: 15px;
  }
  
  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
  }
  


































  /* about section  */
  .about-section{
    background-color: whitesmoke;
    text-align: center;
    height: 300px;
  }
